env:
  global:
  - CC_TEST_REPORTER_ID=$cc_token
language: python
python:
- 3.7-dev
install:
- pip install .
- pip install -r requirements.txt
- pip install pytest
- pip install coverage
- pip install pytest-cov
before_script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- ./cc-test-reporter before-build
script:
- pytest --cov-report=xml --cov=pyaaas
after_script:
- ./cc-test-reporter -d after-build --exit-code $TRAVIS_TEST_RESULT
deploy:
  provider: pypi
  user: $PYPI_USER
  password: $PYPI_PASS
  on:
    tags: true
    branch: master
